@import "~bootstrap/scss/bootstrap";


/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;

}

body{
    // font-family: Arial, Helvetica, sans-serif;
   
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: inherit;
    padding:  1rem;
}

.active{
  color: #0078f7;
  border-bottom: 2px solid #0078f7;
}

.top-bar{
    height: 20px;
    background-color: #0078f7;
    color: white;
    font-size: 10px;
}

p{
    margin: 0;
}

.jumbotron-logo{
    height: 400px;
    .jumbotron-logo-img{
        width: 100%; /* or any custom size */
        height: 100%; 
        object-fit: cover;
       
       
    }
}